<%- include('./partials/header.ejs') %>

<h1>Edit Item Page</h1>
<form action="/inv/<%=item.id%>?_method=PUT" method="post">
  Name: <input type="text" name="name" value="<%=item.name%>"> <br/>
  Description: <input type="text" name="description" value="<%=item.description%>"> <br/>
  Price: <input type="text" name="price" value="<%=item.price%>"> <br/>
  Quantity: <input type="text" name="qty" value="<%=item.qty%>"> <br/>

  <input type="submit" name="" value="Edit Item">
</form>

<%- include('./partials/footer.ejs') %>