<%- include('./partials/header.ejs') %>

<h1> Inventory </h1>

<% for (let i = 0; i < items.length; i++){ %>
  <h3>Item: <%=items[i].name%></h3>
  <p>Status: <%=items[i].status%></p>
  <%if (items[i].qty > 0) {%>
    <p>Quantity: <%=items[i].qty%></p>

  <%} else {%>
    <p>Quantity: SOLD OUT</p>

  <%}%>
</form>
<button><a href="/inv/<%=items[i].id%>">View</a></button>
  <form action="/inv/<%=items[i].id%>?_method=DELETE" method="post">
    <button>Delete</button>
<%}%>

<%- include('./partials/footer.ejs') %>